<h1>Class room Information for each id</h1>
<table border='4'>
 <thead>
  <tr>
   <th>ID</th>
   <th>ItemName</th>
   <th>Quantity</th>
   <th>Manufacturer</th>
  <tr>
 <thead>

 <tbody>
    <tr>
     <td> <%= @finder.id %> </td>
     <td> <%= @finder.item_name %> </td>
     <td> <%= @finder.quantity %> </td>
     <td> <%= @finder.manufacturer %> </td>
    </tr>
 <tbody>
<table>
<br/>
<a href="/cinfra">Home</a>